<h1 class="text-center mt-4"><%= @user.username %>'s Articles</h1>

<img src="https://via.placeholder.com/200" class="rounded mx-auto d-block" alt="Your Image">

<% if logged_in? && @user == current_user %>
  <div class="text-center mt-4">
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  </div>
<% end %>

<%= render 'articles/article' %>
<%= render 'articles/article_pagination' %>