<h1>About BlogHub</h1>

<h2> * Ruby version 2.6.6p146 (2020-03-31 revision 67876) [x64-mingw32] </h2>

<h2> * BlogHub uses a Postgresql  Database. </h2>

<h2> * This is a blog hub for all bloggers to use. </h2>

<h2> * Deployment is for Heroku only. </h2>

<h2> * This software is owned by John A Baker Jr. </h2>

<h2> * This software is not for sale to anyone. </h2>

<%= link_to 'Return to articles list', articles_path %> |
<%= link_to 'Home Page', root_path %>