<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">BlogHub</h1>
    <p class="lead">At BlogHub you can post your blog for the whole world to see.</p>
    <hr class="my-4">
    <p>We have 5,000,000 readers a day. Sign up, post your blog, and get tons of views.</p>
    
    <!--<a class="btn btn-success btn-lg" href="signup" role="button">Sign up!</a>-->
    <%= link_to 'Sign up!', signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>