<!-- Sticky footer -->
<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">

    <small>Copyright &copy; John A. Baker Jr.</small>
    <!-- <small>Copyright &copy; <%#= link_to "John A Baker Jr.", "https://jb.com", class "text-white" %> </small> -->
  
  </div>
</footer>